{% extends './layout/base.html' %}
{%block Title%}
Portafolio
{%endblock%}
{%block content%}
<div class="title">
    PORTAFOLIO
</div>
<div class="control">
    <img class="imagen2" src="https://imagenes.elpais.com/resizer/19aoGjq7Ih668LST8HbN5HHhF-g=/414x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/YQWJLXG7NREZTHCCOJTUGWHX2U.jpg" alt="2020">
    <img class="imagen2" src="https://www.estadiodeportivo.com/imagenes/3aa512a3-0432-4a46-9d68-77003fa11042_1200x680.jpeg" alt="kobe">
    <img class="imagen2" src="https://media.ambito.com/p/71b08526841f84e3262ef3e9af35fcfd/adjuntos/239/imagenes/040/508/0040508732/anthony-davisjpg.jpg" alt="davis">
    <img class="imagen2" src="https://library.sportingnews.com/styles/crop_style_16_9_mobile_2x/s3/2022-01/lebron-giannis-all-star-ftr_16n2pziwsd1fq13eefqmvve6j6.jpeg?itok=g1NO7Rez" alt="2019">
</div>
{% endblock %}